/* Mobile devices (standard CSS) */
* {
  box-sizing: border-box;
  font-family: Heebo, sans-serif;
}

:root {
  --color-blue-500: #505f98;
  --color-blue-800: #111b47;
  --color-white-100: #fff;
  --color-white-500: #fff;
  --color-darkblue-900: #091133;
  --color-darkblue-400: #091133;
  --color-grey-100: #5d6970;
  --color-red: #FF6464;
  --color-black: #000000;
  --color-darkcolor: #21243D;
  --color-lightgreen: #EDF7FA;
  --site-content: 1110px;
  --fs-14px-base: 14px;
  --fs-16px-base: 16px;
  --fs-26px-base: 26px;
  --fs-h1: 50px;
  --fs-h2: 36px;
  --color-lightblue-500: #939ea4;
  --color-footer-bg: #E7ECFF;
  --gap-25: 25px;
  --gap-20: 20px;
  --gap-15: 15px;
  --gap-10: 10px;
  --mb-25: 25px;
  --mt-15: 15px;
}

body {
  margin: 0;
  padding: 0 16px;
}

ol,
ul {
  list-style: none;
  padding-left: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}

.gap-15 {
  gap: var(--gap-15);
}

.gap-25 {
  gap: var(--gap-25);
}

.gap-10 {
  gap: var(--gap-10);
}

.gap-20 {
  gap: var(--gap-20);
}

.mb-25 {
  margin-bottom: var(--mb-25);
}

.mt-15 {
  margin-top: var(--mt-15);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1184px;
}

.logo {
  width: 50px;
  height: auto;
  border: none;
}

.nav__links {
  display: none;
}

.nav__ctas {
  display: none;
}

main {
  max-width: 1184px;
  margin: auto;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  margin: 15px 0px;
  min-height: 30vh;
}

.icon {
  width: 20px;
  height: 20px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero__ctas {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  width: 100%;
}

.hero__ctas a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  background: var(--color-red);
  color: var(--color-white-100);
  font-size: 20px;
  justify-content: center;
}

.hero__ctas a:hover {
  background-color: var(--color-blue-800);
}

.nav__ctas--login {
  margin-right: 32px;
  color: #000;
  text-decoration: none;
}

.nav__ctas--signup {
  padding: 12px 24px;
  background-color: #5D50C6;
  color: #EEEEEE;
  text-decoration: none;
  border-radius: 100px;
}

.nav__ctas a {
  text-decoration: none;
}

.hero__content>h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 120%;
  color: #000000;
  margin: 0;
  text-align: center;

}

.hero__content>p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-darkcolor);
  text-align: center;
}

.blog {
  background-color: var(--color-lightgreen);
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-height: 25vh;
}

.blog__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog__title p a {
  color: #00A8CC;
  text-decoration: none;
  font-size: var(--fs-14px-base);
  cursor: pointer;
}

.blog__boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blog__boxes--list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blog__boxes>a {
  text-decoration: none;

}

.blog__boxes--list>a {
  text-decoration: none;

}

.blog__box {
  background-color: var(--color-white-100);
  padding: 15px;
  cursor: pointer;
}

.blog__box>h2 {
  font-size: var(--fs-26px-base);

}

.blog__box>h3 {
  font-size: var(--fs-16px-base);
  color: var(--color-darkcolor);

}

.blog__box>p {
  font-size: var(--fs-14px-base);
  color: var(--color-darkcolor);
}

.work {
  background-color: var(--color-white-100);
  display: flex;
  flex-direction: column;
  min-height: 25vh;
}

.work__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work__title p a {
  color: #00A8CC;
  text-decoration: none;
  font-size: var(--fs-14px-base);
  cursor: pointer;
}

.work__boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.work__boxes>a {
  text-decoration: none;

}

.work__year {
  background-color: var(--color-red);
  border-radius: 5px;
  padding: 2px 16px;
  color: var(--color-white-100);
}

.work__category {
  background-color: var(--color-darkcolor);
  border-radius: 5px;
  padding: 2px 16px;
  color: var(--color-white-100);
}

.work__box,
.blog__box>p {
  text-align: justify;
}

.work__box::after {
  display: block;
  content: "";
  border: 1px solid var(--color-darkcolor);
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.contact {
  background-color: var(--color-lightgreen);
  display: flex;
  flex-direction: column;
  min-height: 25vh;
  padding: 25px;
  align-items: center;
}

.contact__title {
  font-size: var(--fs-26px-base);
  font-weight: bold;
  color: var(--color-darkcolor);
}

footer>p {
  text-align: center;
  font-size: var(--fs-14px-base);
}

form {
  max-width: 386px;
}

fieldset {
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

legend {
  margin-bottom: 8px;
}

.input-group {
  margin-bottom: 24px;
}

label.full-width {
  display: block;
}


input.full-width,
select.full-width,
textarea.full-width {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  margin-top: 8px;
}

button {
  color: var(--color-white-100);
  background-color: var(--color-red);
  border-radius: 15px;
  border: 0;
  font-size: var(--fs-16px-base);
  padding: 10px 15px;
  max-width: 386px;
}

button:hover {
  background-color: var(--color-blue-800);
}
article img {
  margin-bottom:var(--mb-25);
}

.navbar {
      display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 0;
    background: var(--color-white-100);
    max-width: 1184px;
    margin: auto;
}


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: var(--color-darkcolor);
  text-decoration: none;
}
.nav-links a:hover {
  color: var(--color-red);
  text-decoration: none;
}
/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--color-darkcolor);
  margin: 4px 0;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 30px;
    background: var(--color-white-100);
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 20px;
  }
  .nav-links.active {
    display: flex;
  }
  .nav-links a {
  
  border-bottom: 1px solid var(--color-darkcolor);
  padding-bottom: 4px;
}

  .hamburger {
    display: flex;
  }
}